name: Build MIO_SDP_SensorContainer for ARM64

on:
    push:
        branches:
            - develop
    pull_request:
        branches:
            - develop

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Set up QEMU
                uses: docker/setup-qemu-action@v3
                with:
                    platforms: arm64
            
            -   name: Check out repository
                uses: actions/checkout@v4

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3
                
            -   name: Build ARM container
                uses: docker/build-push-action@v5
                with:
                    context: .
                    platforms: linux/arm64
                    push: false
                    tags: mio_sdp_container:arm64
            
